@use "@/shared/styles/colors.scss" as *;

.CommitTree {
  &__frame {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 50px) [message] 1fr;
  }

  &__message {
    height: 100%;
    grid-column: message;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border-left: 1px solid $transparent;


    &:hover {
      background-color: $grey80;
      border-left: 1px solid $white;
    }

    &--date {
      font-size: 10px;
      color: $grey60;
    }

    &--text {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__node {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    .CommitTree__node--dot {
      height: 10px;
      width: 10px;
      border-width: 2px;
      border-style: solid;
      border-radius: 100%;
      position: absolute;
      z-index: 1000;

      &:hover {
        cursor: pointer;
        transform: scale(180%);
        transition: transform .2s;
      }
    }

    .CommitTree__node--line {
      height: 10px;
      width: 2px;
      position: absolute;
      z-index: 1000;
    }
    
    .up {
      width: 2px;
      height: 20px;
  
      top: 0;
      left: calc(50% - 1px);
  
      position: absolute;
    }
    
    .up-left {
      width: 2px;
      height: 30px;
  
      top: -5px;
      left: 9px;
  
      position: absolute;
      transform: rotate(-45deg);
    }
    
    .up-right {
      width: 2px;
      height: 30px;
  
      top: -5px;
      right: 9px;
  
      position: absolute;
      transform: rotate(45deg);
    }
      
    .down {
      width: 2px;
      height: 20px;
  
      bottom: 0;
      left: calc(50% - 1px);
  
      position: absolute;
    }
    
    .down-left {
      width: 2px;
      height: 30px;
  
      bottom: -5px;
      left: 9px;
  
      position: absolute;
      transform: rotate(45deg);
    }
    
    .down-right {
      width: 2px;
      height: 30px;
  
      bottom: -5px;
      right: 9px;
  
      position: absolute;
      transform: rotate(-45deg);
    }
  }
}