.Navbar {
  width: 100vw;
  padding: 2px 5px;
  background-color: #333339;
  border-bottom: 1px solid #444;

  display: grid;
  grid-template-columns: 1fr 500px 1fr;

  a {
    text-decoration: none;
  }

  &__iconContainer {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 20px;
    width: 20px;
    color: white;
    margin: 0 0.5em;

    &:hover {
      color: #ccc;
      cursor: pointer;
    }
  }

  &__appIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}