@use "@/shared/styles/colors.scss" as *;

.SearchBar {
  width: 100%;

  display: flex;
  align-items: center;

  &__navigation {
    height: 100%;
    width: 50px;
    margin-right: 0.5rem;

    display: flex;
    justify-content: space-between;

    &--button {
      height: 25px;
      width: 25px;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        background: lighten($grey80, 5%);
        border-radius: 4px;
      }
    }
  }

  &__search {
    width: 100%;
    background: $grey80;
    border: 1px solid $grey40;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: lighten($grey80, 5%);
      border-color: lighten($grey30, 5%);
    }
  }

  &__routeInfo {
    width: 100%;
    color: $white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
