$black: (0 0% 0%);
$dark-grey: hsl(214 33% 15%);
$white: hsl(0 0% 100%);

$red-hue: hsl(0 100 45%);
$red: hsl(0 100% 70%);

$green-hue: hsl(120 100 45%);
$green: hsl(120 100% 70%);

$yellow-hue: hsl(60 100 45%);
$yellow: hsl(60 100% 70%);

$blue-hue: hsl(240 100 45%);
$blue: hsl(240 100% 70%);

$magenta-hue: hsl(300 100 45%);
$magenta: hsl(300 100% 70%);

$cyan-hue: hsl(180 100 45%);
$cyan: hsl(180 100% 70%);

$background: $dark-grey;
$text: $white;
