$black: rgb(0, 0, 0);
$dark-grey: rgb(26, 37, 51);
$white: rgb(255, 255, 255);

$red-hue: rgb(230, 0, 0);
$red: rgb(255, 102, 102);

$green-hue: rgb(0, 230, 0);
$green: rgb(102, 255, 102);

$yellow-hue: rgb(230, 230, 0);
$yellow: rgb(255, 255, 102);

$blue-hue: rgb(0, 0, 230);
$blue: rgb(102, 102, 255);

$magenta-hue: rgb(230, 0, 230);
$magenta: rgb(255, 102, 255);

$cyan-hue: rgb(0, 230, 230);
$cyan: rgb(102, 255, 255);

$background: $dark-grey;
$text: $white;
