@use "@/shared/styles/colors.scss" as *;

.Contact {
  background: $grey90;
  border-left: 2px solid $green-2;
  padding: 0.5rem 1rem 1.8rem;
  margin: 2rem 0 1rem;
  
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--blurb {
      flex: 9;
    }

    &--socials {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}