// Color Palette
// https://lospec.com/palette-list/akc12
$purple-1: #201127;
$purple-2: #201433;
$purple-3: #1b1e34;
$green-1: #355d68;
$green-2: #6aaf9d;
$green-3: #94c5ac;
$orange-1: #ec9a6d;
$orange-2: #ffc27a;
$orange-3: #ffeb99;
$pink-1: #a73169;
$pink-2: #c24b6e;
$pink-3: #d9626b;

// Neutrals
$white: #ffffff;
$black: #000000;
$transparent: #00000000;

// Greyscale
$grey10: #f8f9fa;
$grey20: #e9ecef;
$grey30: #dee2e6;
$grey40: #ced4da;
$grey50: #adb5bd;
$grey60: #6c757d;
$grey70: #495057;
$grey80: #343a40;
$grey90: #212529;

// Special
$background: #333339;