@use "@/shared/styles/colors.scss" as *;

// Typography specific style variants should be prefaced with "type"
.type {
  &__display {
    font-size: 15em;
    line-height: 1;
  }

  &__code {
    font-family: monospace;
    padding: 0.2em 0.3em;
    color: $black;
    background-color: $grey30;
    border-radius: 2px;
  }

  &__subtext {
    font-size: 0.8em;
    color: $grey60;
    margin-bottom: 0.75em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

h1 {
  color: $pink-3;
}

h2 {
  color: $pink-2;
}

h3 {
  color: $pink-1;
}

h4 {
  color: $orange-2;
}

h5 {
  color: $orange-3;
}

h6 {
  color: $white;
}

p {
  color: $white;
}

blockquote {
  font-size: 1.4em;
  margin: 1em 0;
  font-style: italic;
  color: $white;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid $green-3;
  line-height: 1.6;
  position: relative;
  background: $purple-1;
}

mark {
  background-color: $green-3;
  color: #222229;
  padding: 0.2em;
}