@use "@/shared/styles/colors.scss" as *;

.ExternalLinkIcon {

  &__icon {
    height: 20px;
    color: $green-2;

    &:hover {
      color: $green-1;
    }

    &:visited {
      color: $green-3;
    }
  }
}