@use "@/shared/styles/colors.scss" as *;

.ScoutAPM,
.FrankishIntl,
.FoxAndFarthing {
  height: 100%;
  width: 100%;

  padding: 1em;

  &__subtext {
    line-height: 0.5em;
    font-size: 0.75em;
    color: $grey50;
    margin-bottom: 1.25em;
  }

  p {
    width: 60%;
    margin-bottom: 0.6em;
  }

  &__highlight {
    color: $orange-2;
    font-weight: 600;
  }
}